@tailwind base;
@tailwind components;
@tailwind utilities;




.gradient,
.active {
 position: relative;
}

.gradient,
.active:hover::before {
 background-color: white;
 position: absolute;
 content: '';
 right: 0;
 bottom: 0;
 height: 2px;
 width: 100%;
}

.active-on::before{
  background-color: white;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.shad{
  box-shadow: 0px 2px 4px #5a5a5a;
}



@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-[#131313] font-medium;
  }
  .btn-tweet {
    @apply rounded-full font-primary text-[#131313] font-semibold;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .section-two {
    @apply py-8 lg:py-24 flex items-center;
  }
  .navigation{
    @apply min-[320px]:translate-x-[150%] min-[320px]:duration-500 min-[320px]:transition-all
  }
}


